.drupal-insight-error-table tr.odd {
  background-color: #EDD1C7;
}

.drupal-insight-error-table tr.even {
  background-color: #EDE2DF;
}

.drupal-insight-table td {
  font-weight: bold;
  color: #3b3b3b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.drupal-insight-table td.error {
  background-color: #ffcccc;
}

.drupal-insight-table td.warning {
  background-color: #ffffcc;
}

.drupal-insight-table td.ok {
  background-color: #ccffcc;
}

#insight-server-project-dashboard-form .user-data {
  font-size: 12px;
}
